<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Termos de Uso</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='dashboard.css') }}">
</head>
<body>

    <!-- Ícone de casa para voltar ao dashboard -->
    <div class="fixed-icons-container">
        <a href="{{ url_for('dashboard') }}" class="fixed-icon">
            <img src="{{ url_for('static', filename='casinha.png') }}" alt="Voltar ao Dashboard" class="icon-image">
        </a>
    </div>

    <div class="terms-content">
        <h1>Termos de Uso</h1>
        <p><strong>Última atualização:</strong> 22/08/2024</p>

        <h2>1. Introdução</h2>
        <p>Bem-vindo ao sistema de Gestão Eletrônica de Documentos - Ginseng. Este Termo de Uso rege a utilização do sistema por parte dos colaboradores do Grupo Ginseng. Ao acessar e utilizar o sistema, você concorda com os termos e condições estabelecidos neste documento. Caso não concorde com algum dos termos, solicitamos que interrompa imediatamente o uso do sistema.</p>

        <h2>2. Objetivo do Sistema</h2>
        <p>O GED - Ginseng é um sistema destinado ao gerenciamento eletrônico de documentos internos da empresa. O sistema permite a coleta, armazenamento e consulta de documentos pessoais e corporativos, visando a eficiência e segurança na gestão de informações.</p>

        <h2>3. Usuários Autorizados</h2>
        <p>O uso do sistema é restrito exclusivamente aos colaboradores do Grupo Ginseng. O acesso de terceiros ou o compartilhamento de informações contidas no sistema com usuários externos à empresa é expressamente proibido e passível de penalidades.</p>

        <h2>4. Coleta e Armazenamento de Dados</h2>
        <p>O sistema coleta e armazena documentos pessoais e corporativos dos colaboradores e revendedores, que são utilizados para fins de consulta interna. Os dados são armazenados em um banco de dados seguro, acessível apenas aos usuários autorizados.</p>

        <h2>5. Propriedade Intelectual</h2>
        <p>Todos os documentos, dados e conteúdos armazenados no sistema são de propriedade do Grupo Ginseng. O uso de tais materiais deve ser feito de acordo com as políticas internas da empresa e apenas para fins profissionais.</p>

        <h2>6.Proibições e Penalidades</h2>
        <p>É proibido o compartilhamento de documentos e informações contidos no sistema com usuários externos ao Grupo Ginseng.
            O uso inadequado ou a violação das regras de uso estabelecidas neste Termo podem resultar em penalidades disciplinares e legais, incluindo ações previstas na Lei Geral de Proteção de Dados (LGPD).</p>

        <h2>7. Suporte Técnico</h2>
        <p>Em caso de dúvidas, problemas técnicos ou outras questões relacionadas ao uso do sistema, os usuários podem entrar em contato com o suporte técnico através do e-mail: <a href="mailto:suporte.ti@grupoginseng.com.br">suporte.ti@grupoginseng.com.br</a>.</p>

        <h2>8. Aceitação dos Termos</h2>
        <p>Ao utilizar o sistema Ginseng, você declara estar ciente e concorda com todos os termos e condições estabelecidos neste documento.</p>

    </div>

</body>
</html>
